<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<!-- The plugin.xml file contains a declaration of the ways 
in which the plugin will extend the Protege capabilities 
and (more advanced) the ways in which the plugin capabilities can be extended by other plugins.-->
<plugin>

	<!-- Tabs -->	
	
	<!-- Plugin started point -->
	<!-- Subjects Recommender System Plugin -->
	<extension id="SubjectsRecommenderTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Subjects Recommender System"/>
		<class value="ua.com.yaremko.system.tab.SubjectsRecommenderTab"/>
		<index value="Z"/>
		<editorKitId value="OWLEditorKit"/>
		<!--<defaultViewConfigFileName value=" viewconfig-recommendertab.xml"/>-->
		<defaultViewConfigFileName value=" viewconfig-recommenderSystemTab.xml"/>
   </extension>
   
	
	<!-- View -->
	<!-- This extension is attempting to implement the functionality
	 represented by the extension point with the name -->
	 
	 <!-- Subjects Recommender System: Subjects search View Component  -->
	 <extension id="SearchViewComponent" point="org.protege.editor.core.application.ViewComponent">
		<!-- The label declaration tells Protege what to put in the title bar of the view. -->
		<label value="Recommender Search view component" />
		<!-- The class declaration indicates which class implements the functionality needed by this view.  -->
		<class value="ua.com.yaremko.system.view.SearchViewComponent" />
		<headerColor value="@org.protege.ontologycolor"/>
		<!-- the category declaration tells Protege 
		which menu under the View menu should contain this view.-->
		<category value="@org.protege.miscellaneouscategory" />
	</extension>
	
	<!-- Subjects Recommender System: Show resulted subjects list View Component  -->
	 <extension id="ShowSubjectsViewComponent" point="org.protege.editor.core.application.ViewComponent">
		<!-- The label declaration tells Protege what to put in the title bar of the view. -->
		<label value="Recommender Subjects view component" />
		<!-- The class declaration indicates which class implements the functionality needed by this view.  -->
		<class value="ua.com.yaremko.system.view.ShowSubjectsViewComponent" />
		<headerColor value="@org.protege.ontologycolor"/>
		<!-- the category declaration tells Protege 
		which menu under the View menu should contain this view.-->
		<category value="@org.protege.miscellaneouscategory" />
	</extension>
	
	<!-- Subjects Recommender System: Show resulted selected subject details list View Component  -->
	 <extension id="ShowSubjectDetailsViewComponent" point="org.protege.editor.core.application.ViewComponent">
		<!-- The label declaration tells Protege what to put in the title bar of the view. -->
		<label value="Recommender Subject Details view component" />
		<!-- The class declaration indicates which class implements the functionality needed by this view.  -->
		<class value="ua.com.yaremko.system.view.ShowSubjectDetailsViewComponent" />
		<headerColor value="@org.protege.ontologycolor"/>
		<!-- the category declaration tells Protege 
		which menu under the View menu should contain this view.-->
		<category value="@org.protege.miscellaneouscategory" />
	</extension>	
    
</plugin>
